@import './base.css';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  font-weight: normal;
}

::selection {
  background-color: rgb(255, 238, 0);
  color: var(--black-mute);
}

footer > p, a {
  text-align: center;
  font-size: 13px;
}

footer {
  padding-bottom: 20px;
  font-size: 0.8rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

#search {
  position: relative;
  text-align: center;
}

#search > input {
  width: 375px;
  height: 50px;
  font-size: 1em;
  padding: 1.3em 1.3em 1.3em 3.5em;
  border-radius: 20px;
  border: 1.5px solid var(--white-mute);
  color: var(--white-soft);
  box-shadow: 1px 1px var(--black-soft);
  
  background:transparent;
}

.icon {
  position: relative;
  left: 40px;
}

#current-weather {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  text-align: center;
}

.city-name {
  font-size: 1.2rem;
  font-weight: 200;
}

.degrees {
  font-size: 6rem;
  line-height: 1.2em;
  font-weight: 200;
}

#conditions {
  background-color: var(--black-soft);
  backdrop-filter: blur;
  margin: auto;
  border-radius: 0.6em;
  padding: 0.7em 1.5em 1.5em 1.5em;
  width: 375px;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

#conditions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem 1rem;
  margin-top: 1em;
}

.condition-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.condition-item__description {
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 16px;
  color: var(--white-mute);
  font-weight: 200;
  background-color: var(--black-mute);
  width: fit-content;
  margin-left: -0.2em;
  padding: .2em .6em;
  border-radius: 0.6em;
}

.condition-item__condition {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 5px;
  margin-top: -5px;
  color: var(--white-calm);
}

.card-title {
  text-transform: uppercase;
  font-size: 0.68rem;
  font-weight: 800;
  color: var(--white-mute);
  padding: 7px 0 7px 0;
}

.uv {
  display: flex;
  gap: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 5px;
  margin-top: -5px;
  color: var(--white-calm);
} 

.uv-warning {
  font-weight: 100;
  font-size: 0.8em;
  margin-top: 3px;
  color: var(--white-mute);
}

#days-forecast {
  background-color: var(--black-soft);
  backdrop-filter: blur;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0.6em;
  padding: 0.7em 1.5em 1.5em 1.5em;
  gap: 0.5em;
  width: 375px;
}

#days-forecast > span {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.forecast-temp {
  font-size: 1.1em;
  font-weight: 700;
  margin-left: 5px;
  margin-top: -5px;
  color: var(--white-calm);
}

a,
.green {
  text-decoration: none;
  color: rgb(215, 120, 207);
  transition: 0.4s;
  padding: 3px;
}